.imagen{
    width: 550px;
    height: 450px;
}
table ,th,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    padding-right:1.5em;
    padding-left: 1.5em;   
}
