.img1{
    width:350px;
    height:250px
}
.img2{
    width:350px;
    height:250px
}
.img3{
    width:350px;
    height:230px
}
.video1{
    width:570px;
    height:230px;
}
.video2{
    width:340px; 
    height:220px;
}
.video3{
    width:300px; 
    height:190px;
}